@import url("https://fonts.cdnfonts.com/css/iranian-sans");
@import "tailwindcss";

@theme {
  --green-color: #14512f;
  --font-iran-sans: "Iranian Sans", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
